body {
    background-color: #a2c1da;
    background-repeat: no-repeat;
    background-position: -39px -176px;
    min-height: 100vh;
    display: grid;
    align-content: center;
    margin: 0;
  }


  
.button {
    width: fit-content;
    border-radius: 20px;
    font-size: 1.2rem;
    border: none;
    background-color: #726f6a;
    margin-top: 20px;
    text-align: center;
    padding: 10px 35px;
  }

  .input {
    height: 50px;
    border: solid 1px #8cb7ec;
    margin: 15px 0;
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 15px;
    color: #000000;
  }
  .landing__title {
    text-align: center;
    font-family: 'Birthstone', cursive;
    font-size: 2rem;
  }
  
  .landing__subtitle {
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
  }

  .landing__buttons {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
  .grid-col, .grid-col .form__inputname {
    display: grid;
    grid-template-columns: 1fr;
  }
.form__title {
    text-align: center;
    font-family: 'Birthstone', cursive;
    font-size: 3rem;
    color: rgb(15, 10, 14)
  }
  
  .form__subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(27, 19, 25)
  }
  
  .form__input {
    margin: 5px;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border: none;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .form__terms {
    justify-content: center;
    display: flex;
  }
  .Sign-in__title {
    text-align: center;
    font-family: 'Birthstone', cursive;
    font-size: 1.5rem;
    color: rgb(19, 8, 15)
  }
  
  .sign-in__subbtitle {
    text-align: center;
    font-size: 1.1rem;
  }
  
  .sing-in_buttons {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }