
  .landing__title {
    text-align: center;
    font-family: 'Birthstone', cursive;
    font-size: 2rem;
  }
  
  .landing__subtitle {
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
  }

  .landing__buttons {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }